<div class="container">
  <div class="row">

    <div class="col-md-8 offset-md-2">

  <div class="card">

  <div class="card-body">

  <h4 class="title"> Autores</h4>

  </div>

  </div>

    </div>
  </div>



<div class="row mt-4">
<div class="col-md-8 offset-2 ">
<div class="card">
  <div class="card-body">



    <form [formGroup] ="formAutor" (ngSubmit)="InsertAutor()">
      <div class="input-group mb-3">
          <span class="input-group-text input-group-lg" id="basic-addon1">
            <i class="fas fa-user"

            [class.green-icon]="this.formAutor.get('Nombre')?.valid"
            [class.red-icon]="this.formAutor.get('Nombre')?.invalid && this.formAutor.get('Nombre')?.touched "

            ></i>


          </span>
        <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre del Autor" aria-label="Username" aria-describedby="basic-addon1">
      </div>



      <div class="input-group mb-3">
        <span class="input-group-text input-group-lg" id="basic-addon1">
          <i class="fas fa-calendar-alt"
          [class.green-icon]="this.formAutor.get('FechaNacimiento')?.valid"
            [class.red-icon]="this.formAutor.get('FechaNacimiento')?.invalid && this.formAutor.get('FechaNacimiento')?.touched "
          ></i>
        </span>
      <input formControlName="FechaNacimiento" type="date" class="form-control" placeholder="Fecha de Nacimiento" aria-label="Username" aria-describedby="basic-addon1">
    </div>




    <div class="input-group mb-3">
      <span class="input-group-text input-group-lg" id="basic-addon1">
        <i class="fas fa-city"
        [class.green-icon]="this.formAutor.get('Ciudad')?.valid"
        [class.red-icon]="this.formAutor.get('Ciudad')?.invalid && this.formAutor.get('Ciudad')?.touched "
        ></i>
      </span>
    <input formControlName="Ciudad" type="text" class="form-control" placeholder="Ciudad" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text input-group-lg" id="basic-addon1">
      <i class="far fa-envelope"
      [class.green-icon]="this.formAutor.get('Email')?.valid"
            [class.red-icon]="this.formAutor.get('Email')?.invalid && this.formAutor.get('Email')?.touched "
      ></i>
    </span>
  <input formControlName="Email" type="email" class="form-control" placeholder="E-mail" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="d-grid gap 2">
   <button [disabled]="this.formAutor.invalid" type="submit" class="btn btn-primary btn-lg btn-block">
    <i class="far fa-save"></i>&nbsp; Registar</button>

</div>


    </form>



  </div>

</div>

</div>

</div>


  </div>
